<% provide(:title, "Exercise and food") %>

<h1 class="page-header">Exercise and food</h1>
<%= render 'application/error_messages' %>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Recent exercises
					<%= link_to enter_exercise_path(params[:username]), id: "new-act", class: "btn btn-default", title: "New exercise" do %>
					<span class="glyphicon glyphicon-plus glyph-button"></span>
					<% end %>
				</h3>
			</div>
			<div class="panel-body">
				<% unless @user.exercises.empty? %>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Time</th>
								<th>Location</th>
								<th>Length</th>
							</tr>
						</thead>
						<tbody>
							<% @user.exercises.each do |activity| %>
								<tr>
							    	<td>
						      			<%= link_to activity.name, show_activity_path(username: params[:username], id: activity.id) %>
						      		</td>
						      		<td>
						      			<%= activity.time.strftime("%l:%M %p") %> <!-- (%I:%M) if we use 12 hr clock -->
						      		</td>
						      		<td>
						      			<%= activity.location %>
						      		</td>
						      		<td>
						      			<%= activity.length %>
						      		</td>
							    </tr>
							<% end %>
						</tbody>
					</table>
				<% else %>
					<h4 class="text-center">There Are No Exercise Information, Please Add One.</h4>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Recent foods
					<%= link_to enter_food_path(params[:username]), id: "new-act", class: "btn btn-default", title: "New food item" do %>
					<span class="glyphicon glyphicon-plus glyph-button"></span>
					<% end %>
				</h3>
			</div>

			<div class="panel-body">
				<h4 class="text-center">There Are No Food Information, Please Add One.</h4>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Calories lost today</h3>
			</div>
			<div class="panel-body">
				<h4 class="text-center">No Food Or Exercise Information Available, Please Add One</h4>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Calories lost this week</h3>
			</div>
			<div class="panel-body">
				<h4 class="text-center">No Food Or Exercise Information Available, Please Add One</h4>
			</div>
		</div>
	</div>
</div>