<% provide(:title, 'Sign Up') %>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Sign Up</h1>
      <%= form_for(@user) do |f| %>

        <%= render 'application/user_error_messages' %>

        <%= f.label :fname, "First Name" %>
        <%= f.text_field :fname, class: "form-control" %>

        <%= f.label :lname, "Last Name" %>
        <%= f.text_field :lname, class: "form-control" %>

        <%= f.label :gender %>
        <div class="radio">
          <label>
            <%= f.radio_button :gender, "Male" %>
            Male
          </label>
        </div>
        <div class="radio">
          <label>
            <%= f.radio_button :gender, "Female" %>
            Female
          </label>
        </div>

        <%= f.label :birthdate %>
        <%= f.date_field :birthdate %>

        <%= f.label :username %>
        <%= f.text_field :username, class: "form-control" %>

        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>

        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>

        <%= f.label :password_confirmation, "Password Confirmation" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>

        <%= f.submit "Sign Up Now", class: "btn btn-large btn-primary", id: "create-acc" %>
      <% end %>
    </div>
  </div>
</div>
