<% provide(:title, "#{@user.fname} #{@user.lname}") %>

<h1 class="page-header">Good Day, <%= @user.fname %></h1>
<%= render 'application/error_messages' %>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			Status
		</h3>
	</div>
	<div class="panel-body">
		<%= @user.status %>
		<% if current_user? User.find_by_username(params[:username]) %>

			<hr>

			<%= form_tag update_status_path(@user.username) do %>

			<%= text_field_tag :status, nil, class: "form-control focus-clear", value: "", placeholder: "Update Status"%>

			<%= submit_tag "Post", class: "btn btn-primary", id: "post-status", disabled: true %>

			<% end %>

		<% end %>
	</div>
</div>
<%= form_tag update_usernames_path(params[:username]) %>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			About
			<% if current_user? User.find_by_username(params[:username]) %>
				<button id="edit-profile" type="button" class="btn btn-default" data-toggle="tooltip" title="Edit">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>
			<% end %>
		</h3>
	</div>
	<table class="table table-hover">
		<tbody>
			<tr>
				<td><b>Name:</b></td>
				<td id="user-name"><%= "#{@user.fname} #{@user.lname}" %></td>
			</tr>
			<tr>
				<td><b>Gender:</b></td>
				<td id="user-gender"><%= @user.gender %></td>
			</tr>
			<tr>
				<td><b>Date of Birth:</b></td>
				<td id="user-bdate"><%= birthdate_for @user %></td>
			</tr>
			<tr>
				<td><b>Height:</b></td>
				<td id="user-height"><%= @user.height %> Inches</td>
			</tr>
			<tr>
				<td><b>Weight:</b></td>
				<td id="user-weight"><%= @user.weight %> Pounds</td>
			</tr>
		</tbody>
	</table>
</div>
</form>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Today's Upcoming Activities</h3>
			</div>
			<% if @day_activities.empty? %>
				<h4 class="text-center">There Are No Upcoming Activities</h4>
			<% else %>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Time</th>
							<th>Location</th>
							<th>Length</th>
						</tr>
					</thead>
					<tbody>
							<% @day_activities[0..3].each do |activity| %>
								<tr>
							    	<td>
						      			<%= activity.name %>
						      		</td>
						      		<td>
						      			<%= activity.time.strftime("%l:%M %p") %> <!-- (%I:%M) if we use 12 hr clock -->
						      		</td>
						      		<td>
						      			<%= activity.location %>
						      		</td>
						      		<td>
						      			<%= activity.length %>
						      		</td>
							    </tr>
						<% end %>
					</tbody>
				</table>	
			<% end %>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Calorie Summary????</h3>
			</div>
			<p>We can put calorie stuff for today only here!</p>
		</div>
	</div>
</div>
