<% provide(:title, "#{@user.fname} #{@user.lname}") %>

<h1 class="page-header">Good Day, <%= @user.fname %></h1>
<%= render 'application/error_messages' %>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			Status
		</h3>
	</div>
	<div class="panel-body">
		<%= @user.status %>
		<hr>
		<%= form_for(@user) do |f| %>

		<%= f.text_field :status, class: "form-control focus-clear", value: "", placeholder: "Update Status"%>

		<%= f.submit "Post", class: "btn btn-primary" %>

		<% end %>
	</div>
</div>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			About
			<button id="edit" type="button" class="btn btn-default" data-toggle="tooltip" title="Edit">
				<span class="glyphicon glyphicon-pencil"></span>
			</button>
		</h3>
	</div>
	<table class="table table-hover">
		<tbody>
			<tr>
				<td><b>Name:</b></td>
				<td><%= "#{@user.fname} #{@user.lname}" %></td>
			</tr>
			<tr>
				<td><b>Gender:</b></td>
				<td><%= @user.gender %></td>
			</tr>
			<tr>
				<td><b>Date of Birth:</b></td>
				<td><%= birthdate_for @user %></td>
			</tr>
			<tr>
				<td><b>Height:</b></td>
				<td><%= @user.height %> Inches</td>
			</tr>
			<tr>
				<td><b>Weight:</b></td>
				<td><%= @user.weight %> Pounds</td>
			</tr>
		</tbody>
	</table>
</div>