<% provide(:title, 'Foods info') %>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="page-header">Food Information</h1>
      <%= form_for(@food) do |f| %>

      <%= render 'application/food_error_messages' %>

      <div class="col-xs-5">
        <%= f.label :name, "Food description"%>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="col-xs-5">

        <%= f.label :calories %>
        <div class="input-group">
          <%= f.text_field :calories, class: "form-control" %>
          <span class="input-group-addon">calories</span>
        </div>
      </div>

      <div class="col-xs-5">
        <%= f.label :day %>
        <div class="form-group">
          <div class="input-group date" id="activity-date" data-date-format="mm/dd/yyyy">
            <%= f.text_field :day, class: "form-control", readonly: true %>
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        </div>
      </div>


      <div class="col-xs-5">
        <%= f.label :time %>
        <div class="input-group bootstrap-timepicker">
          <input id="timepicker" type="text" class="form-control" name="food[time]">

        </div>
      </div>
      <div class="col-xs-12">
        <%= f.submit "Save", class: "btn btn-large btn-primary", id: "create-food" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
