<% provide :title, @food.name %>
<h1 class="page-header">My Food</h1>
<%= form_tag update_food_path %>
<%= render 'application/food_error_messages' %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        Info
        <% if current_user? User.find_by_username(params[:username]) %>
          <%= link_to delete_food_path(username: params[:username], id: @food.id), id: "del-food", class: "btn btn-default", "data-toggle" => "tooltip", title: "Delete" do %>
            <span class="glyphicon glyphicon-remove glyph-button"></span>
          <% end %>
          <button id="edit-food" type="button" class="btn btn-default" data-toggle="tooltip" title="Edit">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
        <% end %>
      </h3>
    </div>
    <table class="table table-hover">
      <tbody>
        <tr>
          <td><b>Description:</b></td>
          <td id="Food_Desc"><%= @food.name %></td>
        </tr>
        <tr>
          <td><b>Calories:</b></td>
          <td id="Food_Cal"><%= @food.calories %></td>
        </tr>
        <tr>
          <td><b>Date:</b></td>
          <td id="Food_Date"><%= date_for @food %></td>
        </tr>
        <tr>
          <td><b>Time:</b></td>
          <td id="Food_Time"><%= @food.time.strftime("%l:%M %p") %></td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
