<% provide(:title, 'New Exercise') %>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="page-header">Exercise Information</h1>
      <%= form_tag create_exercise_path(params[:username]) do %>
      <%= render 'application/exercise_error_messages' %>
      <div class="col-xs-5">
        <%= label_tag :name, "Exercise Description"%>
        <%= text_field_tag :name, nil, class: "form-control" %>
      </div>
      <div class="col-xs-5">
        <%= label_tag :calories, "Calories"%>
        <div class="input-group">
          <%= text_field_tag :calories,nil, class: "form-control" %>
          <span class="input-group-addon">calories</span>
        </div>
      </div>
      <div class="col-xs-5">
        <%= label_tag :day %>
        <div class="form-group">
          <div class="input-group date" id="activity-date">
            <%= text_field_tag :day, nil, class: "form-control", readonly: true %>
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        </div>
      </div>

      <div class="col-xs-5">
        <%= label_tag :time %>
          <div class="input-group date" id="timepicker" >
            <%= text_field_tag :time, nil, class: "form-control", readonly: true %>
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
          </div>
        </div>
      <div class="col-xs-12">
        <%= submit_tag "Save", class: "btn btn-large btn-primary", id: "create-exercise" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
