<% provide(:title, 'Exercises info') %>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="page-header">Exercise Information</h1>
      <%= form_for(@exercise) do |f| %>

        <%= render 'application/exercise_error_messages' %>

        <%= f.label :name, "What exercise did you do?"%>
        <%= f.text_field :name, class: "form-control" %>

        <%= f.label :day, "Which day?"%>
        <%= f.text_field :day, class: "form-control" %>

        <%= f.label :time, "What time?"%>
        <%= f.text_field :time, class: "form-control" %>

        <%= f.label :length, "For how long?"%>
        <%= f.text_field :length, class: "form-control" %>

        <%= f.submit "Save", class: "btn btn-large btn-primary", id: "create-acc" %>
      <% end %>
    </div>
  </div>
</div>
