<% provide(:title, 'Exercise info') %>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="page-header">Exercise Information</h1>
      <%= form_for(@exercise) do |f| %>
      <%= render 'application/exercise_error_messages' %>
      <div class="col-xs-5">
        <%= f.label :name, "Exercise description"%>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="col-xs-5">
        <%= f.label :length, "Length"%>
        <div class="input-group">
          <%= f.text_field :length, class: "form-control" %>
          <span class="input-group-addon">minutes</span>
        </div>
      </div>
              <div class="col-xs-5">
                <%= label_tag :day %>
                <div class="form-group">
                  <div class="input-group date" id="activity-date" data-date-format="m/d/yyyy">
                    <%= text_field_tag :day, nil, class: "form-control datepicker", readonly: true %>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                  </div>
                </div>
              </div>

      <div class="col-xs-5">
        <%= f.label :time %>
        <div class="input-group bootstrap-timepicker">
          <input id="timepicker" type="text" class="form-control" name="food[time]">
        </div>
      </div>
      <div class="col-xs-12">
        <%= f.submit "Save", class: "btn btn-large btn-primary", id: "create-exercise" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
